:root {
    /* color palete */
    --color1: #22252c;
    --color2: #33be6d;
    --color3: #0c98b9;
    --color4: #fefefe;
    --color5: #3d3d3d;


    /* --large: 1000px;
    --medium: 850px;
    --small: 600px; */
}