.header {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logo {
    justify-content: center;
    align-items: center;
}

.nav-list-container {
    justify-content: space-around;
}

.nav-list {
    justify-content: space-around;
    min-width: 300px;
}

/* gallery */

.gallery {
    padding: 15px;
}

.control-area {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.tag-list-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-width: 300px;
}

.imgs-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

/* editor */

.editor {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 10px;
}

.editor>* {
    margin-left: 10px;
    margin-right: 10px;
}

.canvas-container {
    height: 300px;
    width: 300px;
}

.editor-area {
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.editor-area>* {
    padding: 10px;
}

.edit-control{
    flex-direction: column;
    margin: 10px;
}

.edit-btns > *{
    margin: 3px;
    height: 40px;
    width: 40px;
    padding: 1px;
}

.edit-selector >*{
    margin: 6px;
}

.edit-3{
    justify-content: center;
}
